<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Add Expense</title>
    <link rel="stylesheet" href="input_align.css">

</head>
<body>

    <h1 style="background-color:powderblue; text-align:center; font-size:400%; font-family:verdana;">ADD EXPENSE</h1>
    <form action="/action_page.php" method="get">

    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount"><br><br>

    <label for="item">Item:</label>
    <input type="text" id="item" name="item"><br><br>


    <label for="store">Store:</label>
    <input type="text" id="store" name="store_"><br><br>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category"><br><br>


    <label for="date">Date:</label>
    <input type="date" id="date" name="date">
        <br><br>

  <p>
  <button type="save">Save</button>
  </p>

  </form>



</body>
</html>



