<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="background-color:powderblue; text-align:center; font-size:400%; font-family:verdana;">EXPENSE TRACKER</h1>


    <p style="color:red; font-size:200%;text-align:center;">Hacked project</p>
    <a href="/app/addExpense"><button type="button;" >Add Expenses</button></a>

    <hr/>
    <h2 style="color:grey; text-align: justify;"> Expense Summary </h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Cost</th>
            <th>Store</th>
            <th>Category</th>   
        </tr>
        <tr>
            {% for entry in transactions %}
            <td>{{ entry.date }}</td>
            <td>{{ entry.item }}</td>
            <td>{{ entry.cost }}</td>
            <td>{{ entry.store }}</td>
            <td>{{ entry.category }}</td>
            {% endfor %}
        </tr>
    </table>
    <!-- insert expense summary here  -->
    <br>
    <a href="page2"><button type="button">Contact us</button></a>
</body>
</html>